# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Datasets
ThreatLens/SecurityModel-CICIDS2017/data/
ThreatLens/SecurityModel-NSL-KDD/data/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db